.header {
    text-decoration: underline;
    text-align: center;
}
.users-box {
    display: flex;
    flex-wrap: wrap;
}

.total {
    width: 49%;
    background: #bee5f6;
    margin: 10px 10px 10px 0;
    border: 2px solid purple;
    text-align: center;
    font-weight: bold;
}

.total button {
    margin-bottom: 5px;
    background: #cea6ff;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}