.comments-box {
    display: flex;
    flex-wrap: wrap;
    background: #54c5ff;
}
.comments-box li {
width: 24%;
margin-left: 12px;
}

.postStyle {
    background: #cea6ff;
    padding-left: 210px;
}