.userInfo {
    width: 300px;
    background: #bee5f6;
   margin-right: 30px;
}
.userInfoTotal {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  margin: 20px 0 0 40px;
    width: 90%;
    background: #cea6ff;
}
.post-box {
    display: flex;
    flex-wrap: wrap;
}
.wrapper {
    width: 19%;
    margin: 5px;
    background: #a6e5a1;
    display: flex;
    flex-wrap: wrap;
}
.wrapper a, p {
    width: 100%;
    text-align: center;

}
/*.wrapper p {*/
/*    text-align: center;*/
/*}*/

/*.wrapper a {*/
/*    padding-left: 100px;*/
/*}*/